body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

}

.container {
    max-width: 1130px;
    width: 100%;
    margin: 0 auto;
}

.header {
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;


}

.header-row {
    display: flex;
    align-items: center;
    gap: 36px;
}

.menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 24px;

}

.menu-link {
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #33383f;
    text-decoration: none;
}

.header-btns {
    display: flex;
    gap: 12px;
    margin-left: auto;
}

.btn {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 6px 20px;
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0.01em;
    text-decoration: none;
    transition: 0.3s;
}

.btn.btn--blue {
    color: #0070A0;
}

.btn.btn--blue svg path {
    stroke: #006B99;
}

.btn.btn--blue:hover {
    background-color: #0070A0;
    color: white;
}

.btn.btn--blue:hover svg path {
    stroke: white;
}

.btn.btn--white {
    background-color: #0070A0;
    color: white;
}

.btn.btn--white:hover {
    background: white;
    color: #0070A0;
}

.hero {
    padding: 145px 0 80px;

}

.hero-row {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: space-between;
}

.hero-left {
    max-width: 525px;
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.hero-title {
    margin: 0;
    font-family: "Fraunces", sans-serif;
    font-weight: 400;
    font-size: 58px;
    line-height: 110%;
    letter-spacing: 0em;
    color: #1f1f1f;
}

.desc {
    margin: 0;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #1f1f1f;
    max-width: 67%;
}

.hero-btns {
    display: flex;
    gap: 12px;
}

.advantage-item {
    padding: 32px 32px 40px 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
}

.advantes-item-title {
    font-family: "Fraunces", sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 125%;
    letter-spacing: 0.01em;
    color: #1f1f1f;
}

.advanted-item-desc {
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #1f1f1f;
}

.advantage-item-row {
    display: flex;
    flex-wrap: wrap;
    margin: 16px;
}

.advantage-item-container {
    width: 33.3%;
    padding: 16px;
    box-sizing: border-box;
}


.care {
    margin-top: 120px;
    background: #f7f9fa;
    padding: 80px 0;
}


.care-title {
    margin: 0 0 62px;
    font-family: "Fraunces", sans-serif;
    font-weight: 400;
    font-size: 42px;
    line-height: 120%;
    letter-spacing: 0em;
    color: #1f1f1f;
    max-width: 630px;

}

.care-title span {

    font-family: "Fraunces", sans-serif;
    font-size: 39px;
    line-height: 129%;
    letter-spacing: 0.01em;
}

.care-faq {
    padding: 0;
    margin: 0;
    list-style: none;
    max-width: 450px;
}

.care-faq li {
    padding: 16px 12px;
    border-top: 1px solid #c2cdd8;
    border-bottom: 1px solid #c2cdd8;
    ;
}

.care-faq li:hover .care-faq-body {
    /* display: block; */
    max-height: 500px;
    opacity: 1;
    color: #1f1f1f;

}

.care-faq-head {
    display: flex;
    align-items: center;
    gap: 16px;
    font-family: "Fraunces", sans-serif;
    font-size: 20px;
    line-height: 126%;
    letter-spacing: 0.01em;
    color: #626a72;

}

.care-faq-head:after {
    content: "";
    width: 18px;
    height: 10px;
    background: url(../img/cveron_bottom.svg);
    margin-left: auto;
}

.care-faq-body {
    /* display: none; */
    padding-left: 48px;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #1f1f1f;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
    opacity: 0;
}

.care-faq li+li {
    margin-top: 1px;
}

.care-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.item {
    height: 300px;
    border: 1px solid rebeccapurple;

}


/* .grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px 24px;
    так же работает justify-content: ; align-items: ;
}

.grid__item{
    height: 300px;
    border: 1px solid rebeccapurple;
    box-sizing: border-box;
    grid-column: 5/6;
    grid-row: 1/ span 2
}     */